body {
  margin: 0;
  font-family: 'VT323', serif;
}
.app {
  display: flex;
  justify-content: center;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
}
h1, h2, h3, h4 {
  text-transform: uppercase;
}
button, input {
  font-family: 'VT323', serif;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 1.2em;
  border: solid 1px black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

ul {
  list-style: none none;
  padding: 0;
  margin: 0;
}
